<!DOCTYPE html>
<html>
<head>
    <title>Sign In - Habits of Mind Journal</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function handleCredentialResponse(response) {
            fetch('/auth', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token: response.credential })
            }).then(() => {
                window.location.href = '/';
            });
        }
    </script>
</head>
<body class="auth-page">
    <div class="auth-container">
        <img src="/img/SE-GitHub-image.png" alt="NCHS Logo" class="auth-logo">
        <div id="g_id_onload"
             data-client_id="1022838194773-p8g5ac0qr11mfko61qurgnqdb9jitpjf.apps.googleusercontent.com"
             data-callback="handleCredentialResponse">
        </div>
        <div class="g_id_signin"
             data-type="standard"
             data-size="large"
             data-theme="outline"
             data-text="sign_in_with"
             data-shape="rectangular"
             data-logo_alignment="left">
        </div>
    </div>
</body>
</html>
